doctype html
html
    head
        include partials/head.pug
    body
        include partials/header.pug
        section.sectionMain
            .container
                .row.voffset6
                    h1=headline
                .row.voffset3
                    - for (var i=1; i<=imageCount; i++)
                        .col-md-6
                            img.img-thumbnail(src='/images/'+city+'/'+city+'-'+i+'.jpg')
        include partials/commonjs.pug
